
.dropfile{border:2px dashed #e0e4e8;text-align: center;min-height: 20px; padding-bottom: 100px; margin-bottom: 30px}
.dropfile.hover{border-color: #aac3cc}
.dropingfile{border:2px dashed #000;}

.delete-btn{cursor: pointer; color: red}
.img-thumbnail {height:150px; width:150px; margin-bottom:10px}


